// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

// run cuekis casual preloader script if present
exec w/config.cfg

// run eve_plus_init
exec eve_init.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

// FOR XBOX CERT
//sv_unlockedchapters 99


